<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

    <ion-content>
    <ion-list>
      <ion-item>
    <ion-button expand="full" (click)="irAFibonacci()">
      Ver Serie Fibonacci
    </ion-button>
  </ion-item>
  <ion-item>
<ion-button expand="full" (click)="irAFactous()">
  Ver Factoriales
</ion-button>
</ion-item>
<ion-item>
  <ion-button expand="full" (click)="irAPrimos()">
    Ver Primos
  </ion-button>
  </ion-item>
  <ion-item>
    <ion-button expand="full" (click)="irAPares()">
      Ver Pares-Impares
    </ion-button>
    </ion-item>
    <ion-item>
      <ion-button expand="full" (click)="irAConjuntos()">
        Ver Conjuntos
      </ion-button>
      </ion-item>
</ion-list>
</ion-content>
